.bkbutton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .bkbutton:hover,.cancelbtn:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: #f44336;
  }