<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sjcents</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <section style="background: linear-gradient(rgba(255,255,255,0) 59%, white), url(&quot;../assets/img/sjcents1.png&quot;), linear-gradient(rgba(0,97,211,0.58) 0%, white 74%);background-size: auto, auto, auto;height: 301px;"></section>
    </header>
    <main>
        <div class="container" style="padding-top: 25px;">
            <section>
                <h1 class="text-left" style="font-family: Montserrat, sans-serif;">Book Club<br></h1>
                <h3 class="text-left text-secondary" style="font-family: Montserrat, sans-serif;">Includes a free book!</h3>
            </section>
            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 col-lg-6 col-xl-5">
                    <div class="card" style="border-style: none;"><img class="img-fluid card-img-top w-100 d-block border rounded" src="../assets/img/books.jpg" style="box-shadow: 0px 0px 10px 0px;">
                        <div class="card-body" style="text-align: center;"><button class="btn btn-primary" type="button" style="background: rgb(204,31,31);">Facebook Event</button></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col text-center">
                    <p class="text-left" style="padding: 5px;">Need an escape from the real world? Be transported with a good book - the perfect lockdown activity. Meet for weekly discussions and get a<strong>&nbsp;free book</strong>&nbsp;too. We will vote on a book once we have an idea of numbers.<br></p>
                    <p
                        class="text-left" style="padding: 5px;">And please suggest any books you think would be good: classics you've always wanted some added incentive to read, an amazing book you want to share, or one that's come highly recommended to you.<br></p>
                        <p class="text-left" style="padding: 5px;">If there's enough interest we may have more than one group, with the option to have different books read in each group.<br></p>
                        <p class="text-left" style="padding: 5px;">I'll also be posting a list of book recommendations and will include suggestions. So keep an eye out if you're interested.<br></p>
                        <p class="text-left" style="padding: 5px;">(Tom will drop the books into your pigeon hole as soon as they arrive)<br></p>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="text-left">
                <h2 class="text-left text-black-50" style="/*background-image: linear-gradient(to bottom , #ececec, white);*/font-family: Montserrat, sans-serif;">Booking</h2>
                <p>INSERT BOOKING SYSTEM HERE</p>
            </section>
        </div>
    </main>
    <div class="text-center footer-dark" style="margin-top: 25px;padding-top: 25px;padding-bottom: 25px;">
        <footer>
            <div class="container text-center" style="padding-right: 0px;padding-left: 0px;">
                <div class="row text-center">
                    <div class="col-3 col-xl-3 offset-1 offset-lg-2 offset-xl-2 text-right align-self-center" data-aos="fade-right"><a href="https://www.facebook.com/stjohnscollegejcr"><i class="fa fa-facebook-square" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                    <div class="col-4 col-lg-2 col-xl-2 text-center" data-aos="fade"><a class="stretched-link" href="https://www.instagram.com/stjohnsjcr/"><i class="fa fa-instagram" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                    <div class="col-3 col-xl-3 offset-0 text-left" data-aos="fade-left"><a href="https://www.snapchat.com/add/sjcjcr"><i class="fa fa-snapchat-ghost" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                </div>
                <p class="copyright" style="font-size: 16px;">SJC JCR &amp; SBR Committees © 2020</p>
            </div>
        </footer>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
</body>

</html>